# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\others\anta\gestion_mailing\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
